.header-pikachu{
	height:250px;
	border-width: 2px;
	border-radius: 20px;
	border-color: yellow;
	border-style: dotted;

}

.header_box img:hover{
	transform: scale(1.1);
	-webkit-filter: blur(4px);
}

.header_box img{
	transition: all 0.3s ease 0s;
}

.navbar-default{
	background-image: linear-gradient(0deg,#023D09,#0E3312);
	border:0px;
	border-radius: 0px;
}

.myHeader{
    height: 650px;
    width: 100%;	
	/*background: linear-gradient(0deg,#023D09,#0E3312);*/
	background-image: url(../image/header.jpg);
	background-size: 100% 100%;
	color:white;
	
}
.study_header{
    height: 250px;
    width: 100%;	
	background: linear-gradient(0deg,#023D09,#0E3312);
	color:white;	
}
.header_box {
	line-height: 250px;
	text-align: center;
}
.header_box p{
	
	margin:0px;
	line-height: normal;
	display: inline-block;
}
.header_title{
	line-height: 400px;
	text-align: center;

}
.intro_text{
	font-size:30px;
	text-shadow: 4px 3px 0 #1d9d74,9px 8px 0 rgba(0,0,0,0.15);
}
.footer-nav{

	text-align: right;
	list-style: none;

}
.footer-nav li{
	display:inline;
	
}
.footer-nav li:not(:first-child):before{
	content: "|";
	padding:0px 10px;
}



.group {
    background: yellow;
    width: 200px;
    height: 700px;
}
.group .subgroup {
    background: orange;
    width: 150px;
    height: 300px;
}

#liyc_bar{
	margin-top: 20px;
}

#liyc_bar a{
	padding:2px;
}

#liyc_bar > .nav > li > a{
	font-size:20px;
}

#liyc_bar .nav  .nav>li>a{
	padding-left: 20px;
}

#liyc_bar .active > a,
#liyc_bar .active > a:hover,
#liyc_bar .active > a:focus {

	color: #563d7c;
    text-decoration: none;          
    background-color: transparent;  
    border-left: 2px solid #563d7c;
	font-weight: bold;
}

#liyc_bar a{
	border-left: 2px solid transparent;
	font-weight: normal;
}

#liyc_bar .nav .nav>li>a{
	display:none;
}

#liyc_bar .active .nav>li>a{
	display: block;
}



/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

.bs-docs-sidebar .nav>.active>a { 
    color: #563d7c;
}

.sticker {
width: 180px;
height: 180px;
}


.pikachu .sticker-img {
background-image: url(../image/pikachu.png);
 background-size: 180px 180px;
 
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}



